<!-- BANNER -->
<div class="container">
    <div id="banner">
      <h2>Banner</h2>
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://picsum.photos/200/300/?random');">
        <div class="banner-content">
          <h1>Welcome to TeachPin</h1>
          <p>Easy and Simple teaching from professionals</p>
          <ul>
            <a class='btn btn-primary btn-category' href='#' >Music</a>
            <a class='btn btn-primary btn-category' href='#' >Coding</a>
            <a class='btn btn-primary btn-category' href='#' >School</a>
            <a class='btn btn-primary btn-category' href='#' >Craft</a>
            <a class='btn btn-primary btn-category' href='#' >Arts</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
