<!-- BANNER -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <!-- NAVBAR -->

  <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "logo.png", {id: "logo"}%>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <a href="" class="navbar-wagon-item btn btn-primary btn-teachpin">Create Lesson</a>
      <a href="" class="navbar-wagon-item navbar-btn">Login</a>
      <a href="" class="navbar-wagon-item navbar-btn">Sign up</a>


      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">My Lessons</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Create Lesson</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- BANNER -->

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.png'%>)"%>

    <div class="banner-content">
      <h1>Welcome to TeachPin</h1>
      <p>Easy and Simple teaching from professionals</p>


      <ul>
        <a class='btn btn-primary btn-category' href='#' >Music</a>
        <a class='btn btn-primary btn-category' href='#' >Coding</a>
        <a class='btn btn-primary btn-category' href='#' >School</a>
        <a class='btn btn-primary btn-category' href='#' >Craft</a>
        <a class='btn btn-primary btn-category' href='#' >Arts</a>
      </ul>

    </div>
  </div>
</body>
</html>
