  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>

  <h2>Cards</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="card" style="background-color: white;"%>
         <div className="product-controls">
          <h4 class="card-name">Teacher Name</h4>
          <h5 class="card-location">Location</h5>
          <p class="card-description">Guitar Teacher</p>
          <a class='btn btn-primary btn-book' href='#' >Book Now</a>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>
