<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>



  <h1>Design Page</h1>
  <h2>Buttons</h2>
  <div>
    <ul>
      <a class='btn btn-primary btn-teachpin' href='#' >Login</a>
      <a class='btn btn-primary btn-teachpin' href='#' >Sign up</a>
      <a class='btn btn-primary btn-teachpin' href='#' >Create</a>
      <a class='btn btn-primary btn-teachpin' href='#' >Book</a>
      <a class='btn btn-primary btn-category' href='#' >Category</a>

    </ul>
  </div>



</body>
</html>

