  <!-- BANNER -->

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.png'%>)"%>

    <div class="banner-content">
      <h1>Welcome to TeachPin</h1>
      <p>Easy and Simple teaching from professionals</p>

      <ul class="list-inline">
        <li><%= link_to "School", lessons_path(category: "school"), class: 'btn btn-primary btn-category' %></li>
        <li><%= link_to "Coding", lessons_path(category: "coding"), class: 'btn btn-primary btn-category' %></li>
        <li><%= link_to "Arts", lessons_path(category: "arts"), class: 'btn btn-primary btn-category' %></li>
      </ul>

    </div>
  </div>


