.form-wrapper {
  background-color: #ecf0f1;
  padding: 50px 70px 70px 100px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px #7f8c8d;
  label {
    color: #363636;
  }
}

.control-label {
margin-bottom: 40px;
margin-top: 0px
}
